*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#welcome{
    font-size: 50px;
    text-align: center;
    padding: 2rem 2rem 10px 2rem;
}

.input{
    text-align: center;
    margin: 50px 0;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background: #e7e7e7;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

input[type="submit"]{
    height: 50px;
    width: 100px;
    background: #e7e7e7;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 2px;
}

h1{
    font-size: 9rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.4rem;
}

span {
    font-size: 3rem;
}

.container {
    background-color: aqua;
    background-image: linear-gradient(to bottom right, aqua, blue);
    max-width: 550px;
    height: 70vh;
    border: 1px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
    padding: 25px 5px;
}

.degrees {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 2rem;
}